/* couleur de fond */
body{
    background: #f5f3f1;
}
/* pas de surligagne bouton */
a{
    text-decoration: none;
}
/* Titre centré */

h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
}
h4{
    font-family: 'IBM Plex Sans', sans-serif;
}
p{
    font-family: 'IBM Plex Sans', sans-serif;
}
/*HEADER*/

header{
    padding: 5px 2px;
    background: white;
    border-bottom: 1px solid green;
    height: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

header h1{
    color: black;
    font-size: 1em;
    text-align: left;
    width: 90%;
    margin: 0 10px;
}

/*Sections principales*/

.container{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    background-color: white;
}

.container > div{
    width: 90%;
}

/*caractéristique dans sessions*/

.photo{
     text-align: center;  
}

.photo img{
    width: 100px;
    height: 100px;
    border: 4px line-height #fff;
    box-shadow: 0px 0px 10px black;
    border-radius: 50%;
    margin-top: 9px;
}


.presentation{
    border-bottom: none;
    border-right: 2px solid #ccc;
    padding-right: 20px;
    margin-left: auto;
}

.presentation a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 40px auto ;
    color: white;
    background-color: #488d10;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);    
    border-radius: 4px;
}

.presentation a:hover{
    color: red;
    background-color: white;
    border: 1px solid yellow;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    }

.presentation, .infoperso{
    flex: 0 0 45%;
}

.infoperso{
    padding-left: 20px;
    margin-right: auto;
    }

.infoperso-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.infoperso-flex p:first-child{
    flex: 0 0 30%;
}
.infoperso-flex p:last-child{
    flex: 0 0 70%;
}

.social{
    display: flex;
    justify-content: space-around;
}

.social img{
    width: 40px;
    height: 40px;
}

.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.exp-info{
    display: flex;
    flex-flow: column wrap;
     flex: 0 0 70%;
    margin-left: auto;
}

.exp img{
    width: 100%;
}

.exp h3{
    font-size:  1.2em;

}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

.exp-logo img{
       
    width: 100px;
    height: 100px;
}

#home p{
    font-family: 'IBM Plex Sans', sans-serif;
}

.interet{
    margin-left: 80px;
    margin-top: 20px;
    flex: 0 1 20%;
}

.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    flex: 0 1 20%;
}



/*VERSION ADAPTATIVE*/

    @media (max-width: 1000px) {
  .container {
    width: 600px;
  }




   

 




